.card {
    width: 80px;
    height: 80px;
    background-color: #e8c380;
    border: 2px solid black;
    margin: 8px;
    box-shadow: 4px 2px 5px black;
    cursor: pointer;
}

.container {
    display: flex;
}

img {
    height: 80px;
    max-width: 80px;
}

.hidden {
    display: none;
}

.display {
    display:block !important;
}